body{
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.block{
  padding: 0;
  margin: 0;
  z-index: 1;
  height: 100vh;
  width: 100%;
}

.titleline-name{
  width:100%;
  font-size:7vw;
}

.titleline-subject{
  font-weight: bold;
  width:100%;
  font-size:4vw;
}



.profile-grid-container {
  width:89.9%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 1.5fr;
  gap: 0px 0px;
  grid-template-areas:
    "."
    ".";
}

.education-grid-container {
  width:89.9%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.8fr 1.1fr 1.1fr;
  gap: 0px 0px;
  grid-template-areas:
    "quote quote quote"
    ". Uni Uni"
    ". HighSchool HighSchool";
}
.Uni { grid-area: Uni; }
.HighSchool { grid-area: HighSchool; }
.quote { grid-area: quote; }


.skills-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr 1.7fr;
  gap: 0px 0px;
  grid-template-areas:
    "skills skills"
    ". .";
}
.skills { grid-area: skills; }

@media only screen and (max-width: 900px) {
  .titleline-name{
    font-size:12vw;
  }

  .titleline-subject{
    font-size:10vw;
  }

  .education-grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.8fr 1.1fr 1.1fr 1.1fr 1.1fr;
    gap: 0px 0px;
    grid-template-areas:
      "quote"
      "."
      "Uni"
      "."
      "HighSchool";
  }

  .skills-grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1.7fr 1.7fr;
    gap: 0px 0px;
    grid-template-areas:
      "skills"
      "."
      ".";
  }


}

@media only screen and (max-width: 1000px) {
  .titleline-name{
    font-size:12vw;
  }

  .titleline-subject{
    font-size:10vw;
  }

}
